@font-face {
    font-family: 'Finger Paint';
    src: url("img/fingerPaint.ttf");
    font-style: normal;
}

.fontNunito {
    font-family: 'Nunito';
    src: url("img/Nunito-Regular.ttf");
    font-style: normal;
}

h1 {
    color: rgb(109, 45, 8);
    position: relative;
    text-align: center;
    font-family: 'Finger Paint';
    font-size: 28px;
    padding-top: 1rem;
    padding-left: 1rem;
}

h3 {
    padding-left: 10%;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h5 {
    font-weight: 600;
    margin-top: 0.5rem;
}

p {
    text-align: justify;
    margin-top: 1rem;
}

.pp2{
    margin-top: 2rem;
}

li{
    margin-left: 1.5rem;
}


html {
    scroll-behavior: smooth;
}

body {
    background-image: url("img/fondo.jpg");
    background-color: rgb(204, 191, 148);
    background-size: auto, auto;
    font-family: 'Nunito';
    display: block;
}

header {
    
    padding: 1rem;
    padding-top: 0rem;
    margin: 1rem;
    margin-bottom: 0rem;
}

.container {
    background-color: rgba(252, 243, 212, 0.521);
    backdrop-filter: blur(14px);
    border-radius: 24px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    padding-top: 0;
}

.seccion {
    margin-top: 3rem;
}

nav {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar,
.navbar-expand-lg {
    background: linear-gradient(to top, rgb(172, 128, 74), 5%, rgba(252, 243, 212, 0.562));
    backdrop-filter: blur(14px);
    border-radius: 24px;
    position: sticky;
    top: 0;
}

button {
    background-color: rgba(196, 105, 31, 0);
    border: none;
    border-radius: 12px;
    opacity: 60%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 12px;
}

button:hover {
    background: linear-gradient(rgba(63, 212, 187, 0), rgba(201, 112, 39, 0.575) 80%);
    border: none;
    opacity: 100%;
    color: rgb(255, 255, 255);
}

button a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Finger Paint';
    color: rgb(109, 45, 8);
    display: flex;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
}
button a:hover{
    color:rgb(255, 255, 255);
}

a img {
    width: 36px;
    margin-right: 3rem;
}

.img-fluid {
    padding-left: 2%;
    padding-bottom: 5%;
    border-radius: 12px;
}

.imgContenido {
    width: 240px;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    justify-content: center;
    border-radius: 12px;
}

.buttonAV {
    width: auto;
    height: auto;
    background-color: rgba(196, 105, 31);
    border-radius: 12px;
    opacity: 60%;
    font-size: 18px;
    font-weight: 700;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 12px;
}

.buttonAVC {
    width: 240px;
    height: 60px;
    background-color: rgba(196, 105, 31);
    border-radius: 12px;
    opacity: 60%;
    font-size: 18px;
    font-weight: 700;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 12px;
}

.modal-dialog{
    width: 90%;
    height: 90%;
    border-radius: 12px;
    margin: auto;
    margin-top: 20px;
}

.modal-content{
    background-color: rgba(252, 243, 212, 0.521);
    backdrop-filter: blur(14px);
    border-radius: 12px;
    align-items: center;
}

.cuadroAG {
    margin-top: 18%;
    width: 654px;
    height: 520px;
    align-items: center;
}

.carousel-inner {
    border-radius: 6px;
}

.card-text {
    text-align: left;
}
.card{
    margin-top: 1rem;
    background-color: antiquewhite;
    border-radius: 12px;
}