@font-face {
    font-family: 'Finger Paint';
    src: url("img/fingerPaint.ttf");
    font-style: normal;
}

.fontNunito {
    font-family: 'Nunito';
    src: url("img/Nunito-Regular.ttf");
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(204, 191, 148);
    background-image: url("img/fondo.jpg");
    background-size: auto, auto;
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    align-items: center;
}

.pantallaInicial{
    background-color: rgb(204, 191, 148, 70%);
    border: none;
    width: 54%;
}
.pantallasContenido{
    background-color: rgb(204, 191, 148, 70%);
    border: none;
    width: 420px;
    height: 360px;
    margin-top: 50px;
    display: block;
}

.grid-contenedor {
    width: 100%;
    height: 60vh;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 280px 70% 280px;
    grid-template-rows: 66px auto auto auto auto;
    grid-template-areas:
    ". barra-superior ."
    ". slider ."
    ". ultimas-noticias .";
}

header {
    position: relative;
    text-align: left;
    padding: 2%;
}

h1 {
    color: rgb(109, 45, 8);
    position: relative;
    text-align: center;
    font-family: 'Finger Paint';
    font-size: 60px;
    margin-top: 5%;
}

h2{
    text-align: left;
    font-size: 24px;
    color: rgb(236, 232,232);
    font-weight: bold;
}
h3{
    padding-left: 5%;
}

.menuInicial{
    background-color: transparent;
    display: grid;
}

nav li {
    display: flex;
    background: linear-gradient(rgba(196, 105, 31, 0) 96%, rgb(196, 105, 31));
    font-size: 36px;
    font-family: 'Finger Paint';
    padding: 3%;
    padding-left: 10%;
    opacity: 60%;
}
nav li:hover {
    background: linear-gradient(rgba(110, 110, 110, 0.507), rgba(196, 105, 31, 0.575) 80%);
    font-size: 48px;
    font-weight: 1000;
    opacity: 100%;
}

nav a {
    border: none;
    text-align: left;
    text-decoration: none;
    color: rgb(226, 226, 226);
    margin-left: 10%;
    margin: 0px;
}
nav a:hover {
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.iconosMenuInicial {
    border: none;
    width: 80px;
    height: 50px;
    padding-right: 36px;
}


.menuContenido li {
    width: 300px;
    height: 100%;
    display: block;
    justify-items: center;
    background: linear-gradient(rgba(196, 105, 31, 0) 96%, rgb(196, 105, 31));
    font-size: 24px;
    padding: 1%;
    padding-left: 10%;
    margin: 5%;
    opacity: 60%;
}
.menuContenido li:hover {
    background: linear-gradient(rgba(110, 110, 110, 0.507), rgba(196, 105, 31, 0.575) 80%);
    font-size: 28px;
    opacity: 100%;
}

.iconoMenuCont {
    width: 36px;
    padding-right: 24px;

}

.contenidos{
    width: 1200px;
    padding: 3%;
    margin: 1%;
    background-color: rgb(204, 191, 148);
}

div,
article {
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-size: 24px;
    color: azure;
}

.centrada {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cuadroAG {
    display:inline-block;
    width: 646px;
    height: 486px;

}

.imgContenido{
    width: 50%;
}